<div *ngIf="img" class="preloader">
    <div class="preloader-inner">
    <div class="preloader-icon">
    <span></span>
    <span></span>
    </div>
    </div>
    </div>
<div class="col-md-12">
    <div style="    height: 449px;" class="card mb-4">
      <h5 *ngIf="!data" class="card-header">Add New Policy And Privacy</h5>
      <h5 *ngIf="data"  class="card-header">Update  Policy And Privacy</h5>
      <div *ngIf="showError" class="alert alert-danger d-flex align-items-center" role="alert">
        <span class="alert-icon text-danger me-2">
          <i class="ti ti-ban ti-xs"></i>
        </span>
        This Name Unique!
      </div>
      <div [formGroup]="formpdatepolicyAndPrivacy" class="card-body">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Title</label>
          <input formControlName="title" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Add Title...">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Content</label>
            <textarea formControlName="content" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Add Content...">
         
            </textarea>
        
        </div>

            <div class="col-sm-12">
                <button *ngIf="!data" (click)="addupdatepolicyAndPrivacy()" type="submit"
                    class="btn btn-success waves-effect waves-light">Add</button>
                    <button *ngIf="data" (click)="updatepdatepolicyAndPrivacy()" type="submit"
                    class="btn btn-primary waves-effect waves-light">Update</button>
                <button style="    margin-left: 12px; " (click)="close()" type="reset" class="btn btn-outline-secondary waves-effect"
                    >Cancel</button>
            </div>
      </div>
    </div>
