<div *ngIf="img" class="preloader">
    <div class="preloader-inner">
    <div class="preloader-icon">
    <span></span>
    <span></span>
    </div>
    </div>
    </div>
<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">

        <div class="layout-page">
            <div class="content-wrapper">
                <div class="container-xxl flex-grow-1 container-p-y">
                    <div class="row">
                        <div class="card">
                            <div class="card-datatable table-responsive pt-0">
                                <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
                                    <div class="card-header flex-column flex-md-row">
                                        <div class="head-label text-center">
                                            <h5 class="card-title mb-0">Show Data</h5>
                                        </div>
                                        <div class="dt-action-buttons text-end pt-3 pt-md-0">
                                            <div class="dt-buttons"> 
                                                
                                               
                                              
                                                    
                                           
                                                        <button
                                                    (click)="openForm()" class="dt-button create-new btn btn-primary"
                                                   
                                                    type="button"><span><i class="ti ti-plus me-sm-1"></i> <span
                                                            class="d-none d-sm-inline-block">Add New
                                                            Interests</span></span></button> </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <!-- <div class="col-sm-12 col-md-6">
                                            <div class="dataTables_length" id="DataTables_Table_0_length"><label>Show
                                                    <select name="DataTables_Table_0_length"
                                                        aria-controls="DataTables_Table_0" class="form-select">
                                                        <option value="7">7</option>
                                                        <option value="10">10</option>
                                                        <option value="25">25</option>
                                                        <option value="50">50</option>
                                                        <option value="75">75</option>
                                                        <option value="100">100</option>
                                                    </select> entries</label></div>
                                        </div> -->
                                        <!-- <div
                                            class="col-sm-12 col-md-6 d-flex justify-content-center justify-content-md-end">
                                            <div id="DataTables_Table_0_filter" class="dataTables_filter">
                                                <label>Search:<input type="search" class="form-control" placeholder=""
                                                        aria-controls="DataTables_Table_0"></label></div>
                                        </div> -->
                                    </div>
                                    <table    datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"   class="datatables-basic table dataTable no-footer dtr-column"
                                      
                                        style="width: 1216px;">
                                        <thead style="    border-bottom: 1px solid #dbdade;">
                                            <tr>
                                          
                                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0"
                                                rowspan="1" colspan="1" style="width: 119px;"
                                                aria-label="Name: activate to sort column ascending">Id</th>
                                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0"
                                                    rowspan="1" colspan="1" style="width: 119px;"
                                                    aria-label="Name: activate to sort column ascending">Name</th>


                                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0"
                                                    rowspan="1" colspan="1" style="width: 123px;"
                                                    aria-label="Email: activate to sort column ascending">Icon</th>
                                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0"
                                                    rowspan="1" colspan="1" style="width: 107px;"
                                                    aria-label="Date: activate to sort column ascending">Created At</th>
                                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0"
                                                    rowspan="1" colspan="1" style="width: 146px;"
                                                    aria-label="Salary: activate to sort column ascending">Updated At</th>
                                                <th class="sorting_disabled" rowspan="1" colspan="1"
                                                    style="width: 151px;" aria-label="Actions">Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of interests;let index=index" class="odd">
                                                <td >{{item.id}}</td>
                                            <td>{{item.name}}</td>
                                            <td>
                                                <img [src]="item.icon_url" alt=""
                                                style="    width: 90px;   height: 64px;border-radius: 14px;">
                                            </td>
                                        <td>
                                            {{item.created_at}}
                                        </td>
                                        <td>
                                            {{item.updated_at}}
                                        </td>

                                        <td>
                                                  <button type="button" class="btn btn-danger waves-effect waves-light" data-bs-toggle="modal" data-bs-target="#modalToggle">
                                                 Delete
                                                  </button>
                                                  <div class="modal fade" id="modalToggle" aria-labelledby="modalToggleLabel" tabindex="-1" style="display: none;" aria-hidden="true">
                                                    <div class="modal-dialog modal-dialog-centered">
                                                      <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h2 class="modal-title" style="border-bottom: 2px outset red;">warning</h2>

                                                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">                                          Are You Sure That You Want To Discard Your Changes ?
                                                        </div>
                                                        <div class="modal-footer">
                                                          <button (click)="deleteInterest(item.id)" class="btn btn-danger waves-effect waves-light
                                                         " data-bs-target="#modalToggle2" data-bs-toggle="modal" data-bs-dismiss="modal">
                                                          Delete
                                                          </button>
                                                          <button data-bs-dismiss="modal" aria-label="Close"  class="btn btn-primary waves-effect waves-light" data-bs-target="#modalToggle2" data-bs-toggle="modal" data-bs-dismiss="modal">
                                                           Cancel
                                                           </button>
                                                        </div>
                                                      </div> 
                                                    </div>
                                                  </div>
                                                  <button style=" margin-left: 14px;  " (click)="updateinterestss(item)" type="button" class="btn btn-success waves-effect waves-light">Updae</button>

                                        </td>
                                           <!-- <td>
                                            <button style=" margin-top: 22px;  " (click)="updateinterestss(item)" type="button" class="btn btn-success waves-effect waves-light">Updae</button>

                                           </td> -->
                                            </tr>
                                        </tbody>
                                    </table>
                                  
                                </div>
                            </div>
                        </div>
                    
                    </div>
                 
                </div>
            </div>
        </div>

    </div>
</div>