<div class="col-md-12">
    <div style="    height: 449px;" class="card mb-4">
      <h5 *ngIf="!data" class="card-header">Add New Role</h5>
      <h5 *ngIf="data"  class="card-header">Update  Role</h5>
      <div *ngIf="showError" class="alert alert-danger d-flex align-items-center" role="alert">
        <span class="alert-icon text-danger me-2">
          <i class="ti ti-ban ti-xs"></i>
        </span>
        This Name Unique!
      </div>
      <div [formGroup]="formUser" class="card-body">
        <div class="mb-3">
            <label class="form-label" for="basic-icon-default-fullname"> Name</label>
            <div class="input-group input-group-merge">
              <span id="basic-icon-default-fullname2" class="input-group-text"><i class="ti ti-user"></i></span>
              <input formControlName="name" type="text" class="form-control" id="basic-icon-default-fullname" placeholder="Enter Name" aria-label="John Doe" aria-describedby="basic-icon-default-fullname2">
            </div>
          </div>
   
 
          <div class="col-sm-12">
            <label for="largeSelect" class="form-label">Select Role </label>
          <ng-select [multiple]="true" formControlName="permission">
            <ng-option  *ngFor="let item of permissions" [value]="item.id">{{item.name}}</ng-option>
           
        </ng-select>
        </div>


            <div style="    margin-top: 18px;            " class="col-sm-12">
                <button *ngIf="!data" (click)="addRole()" type="submit"
                    class="btn btn-success waves-effect waves-light">Add</button>
                    <button *ngIf="data" (click)="update()" type="submit"
                    class="btn btn-primary waves-effect waves-light">Update</button>
                <button style="    margin-left: 12px; " (click)="close()" type="reset" class="btn btn-outline-secondary waves-effect"
                    >Cancel</button>
            </div>
      </div>
    </div>
  </div>